@tailwind base;
@tailwind components;
@tailwind utilities;

.text-bellfaire {
  font-family: var(--bellefair-font);
}
h1 {
  font-size: 9.375rem; /*150px*/
  line-height: 1;
}
h2 {
  font-size: 6.25rem; /*100px*/
  font-family: var(--bellefair-font);
}
h3 {
  font-size: 3.5rem; /*56px*/
  font-family: var(--bellefair-font);
  line-height: 1;
}
h4 {
  font-size: 2rem; /*32px*/
  font-family: var(--bellefair-font);
  line-height: 1;
}
h5 {
  font-size: 1.75rem; /*28px*/
  font-family: var(--barlow-font);
  letter-spacing: 4.72px;
}
.sub-1 {
  font-size: 1.75rem; /*28px*/
  font-family: var(--bellefair-font);
}
.sub-2 {
  font-size: 0.875rem; /*14px*/
  font-family: var(--barlow-font);
  letter-spacing: 2.35px;
}
.nav-text {
  font-size: 1rem; /*16px*/
  font-family: var(--barlow-font);
  letter-spacing: 2.7px;
}
body {
  font-size: 1.125rem; /*18px*/
  font-family: var(--barlow-font);
}
p {
  font-size: 15px;
  font-family: var(--barlow-font);
  line-height: 1.5;
}
.transition {
  transition-duration: 250ms;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}
